<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>BUYERS</title>
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.3/css/bootstrap.min.css">
</head>
<body class="container">

<form method="post" th:action="@{/buyers}" th:object="${newBuyer} ">
    <div class="form-group">
        <label for="name">Name</label>
        <input id="name" placeholder="Enter Name" required type="text" th:field="*{name}"
               class="form-control"/>
    </div>
    <input type="submit" class="btn btn-primary" value="Create Buyer">
</form>

</body>
</html>