<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>BUYERS</title>
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.3/css/bootstrap.min.css">
</head>
<body class="container">
<table class="table table-striped table-bordered">
    <tr>
        <th> Name </th>
    </tr>

    <tr th:if="${ProductInfo.getBuyerList().isEmpty()}">
        <td colspan="3"> No Buyers </td>
    </tr>

    <tr th:each="buyer : ${ProductInfo.getBuyerList()}">
        <td th:text="${buyer.getName()}"></td>
    </tr>
</table>
</body>
</html>